/tex/*
/html/[012]*.html
/html/js/chapter_info.js
/code/chapter/*
/code/file_server.js
/code/skillsharing.zip
/code/solutions/20_4_a_public_space_on_the_web.zip
/code/skillsharing/*
/node_modules
.tern-port
/toc.txt
/img/generated/*
/img/cover.xcf
/book.pdf
