.talk {
  margin: 40px 0;
}

h2 button {
  vertical-align: bottom;
}

h3 {
  margin: 0.5em 0;
}

.name {
  font-weight: bold;
}

.comment {
  font-style: italic;
}

.talk h2 {
  margin: 0;
  font-size: 130%;
}

label input {
  display: block;
  width: 30em;
}
