@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya SC Bold'), local('AlegreyaSC-Bold'), url(http://themes.googleusercontent.com/static/fonts/alegreyasc/v3/M9OIREoxDkvynwTpBAYUqzqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}

/*@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: local('Oleo Script'), local('OleoScript-Regular'), url(http://themes.googleusercontent.com/static/fonts/oleoscript/v2/_weQNDK6Uf40CiGFKBBUjobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}*/

@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptmono/v1/jmle3kzCPnW8O7_gZGRDlQ.woff) format('woff');
}

html, body { 
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Century Schoolbook L', Georgia, 'Nimbus Roman No9 L', 'Century Schoolbook', serif;
  font-size: 20px;
  line-height: 1.45;
  color: black;
  background: white;
}

article {
  margin: 0 auto;
  max-width: 32em;
  padding: 1em 0 5em 0;
  position: relative;
}

nav {
  display: block;
  height: 0;
  text-align: right;
}

nav a {
  font-size: 80%;
  color: #aaa;
  text-decoration: none;
}

pre {
  border-left: 3px solid #ddd;
  padding: 4px 0 4px 17px;
  line-height: 1.3;
}

pre[data-language=javascript] {
  cursor: pointer;
}

code, pre {
  font-size: 90%;
  font-family: 'PT Mono', monospace;
}

h1, h2, h3 {
  font-family: 'Alegreya SC';
  font-weight: 700;
  margin: 1em 0 0 0;
  letter-spacing: 2px;
}

h1 {
  font-size: 160%;
}
h2 {
  font-size: 130%;
}
h3 {
  font-size: 110%;
}

.chap_num {
  font-size: 60%;
  color: #aaa;
  margin-bottom: -.4em;
}

h1 + p {
  font-size: 120%;
}

blockquote {
  padding: 0 0 0 2em;
  margin: 0;
}

blockquote p {
  position: relative;
  color: #333;
}

blockquote p:before {
  content: '“';
  position: absolute;
  left: -.5em;
}

blockquote p:after {
  content: '”';
}

/* Toned-down CodeMirror style */

.cm-s-default .cm-keyword {color: #506;}
.cm-s-default .cm-atom {color: #106;}
.cm-s-default .cm-number {color: #042;}
.cm-s-default .cm-def {color: #009;}
.cm-s-default .cm-variable-2 {color: #027;}
.cm-s-default .cm-variable-3 {color: #072;}
.cm-s-default .cm-comment {color: #630;}
.cm-s-default .cm-string {color: #700;}
.cm-s-default .cm-string-2 {color: #740;}
.cm-s-default .cm-tag {color: #170;}
