@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 700;
  src: local('Cinzel-Bold'), url(http://themes.googleusercontent.com/static/fonts/cinzel/v1/L74890HNVnUypqWjqGUt1T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptmono/v1/jmle3kzCPnW8O7_gZGRDlQ.woff) format('woff');
}

html, body { 
  padding: 0;
  margin: 0;
}

body {
  font-family: Georgia, 'Nimbus Roman No9 L', 'Century Schoolbook L', serif;
  font-size: 20px;
  line-height: 1.45;
  color: black;
  background: white;
}

article {
  margin: 0 auto;
  max-width: 30em;
  padding: 2em 0 5em 0;
  position: relative;
}

nav {
  display: block;
  height: 0;
  text-align: right;
}

nav a {
  font-size: 80%;
  color: #aaa;
  text-decoration: none;
}

pre {
  padding: 4px 0 4px 15px;
  line-height: 1.3;
  margin: 1rem 0;
}

pre[data-language=javascript] {
  cursor: pointer;
}

code, pre, .CodeMirror, .example-output {
  font-size: 90%;
  font-family: 'PT Mono', monospace;
}

h1, h2, h3 {
  font-family: 'Cinzel';
  font-weight: 700;
  margin: 1rem 0;
  letter-spacing: 2px;
}

h1 {
  font-size: 150%;
}
h2 {
  font-size: 120%;
}
h3 {
  font-size: 100%;
}

ol {
  margin: 1em 0;
  padding: 0;
  counter-reset: li;
}

ol li {
  margin: 0 0 0 40px;
  padding: 0;
  list-style: none;
  position: relative;
}

ol li:before {
  content: counter(li) ".";
  counter-increment: li;
  position: absolute;
  width: 2em;
  text-align: right;
  left: -2.5em; bottom: 0;
  font-size: 90%;
}

ol li p {
  margin: 0;
}

.chap_num {
  font-size: 60%;
  color: #aaa;
  margin-top: -.7em;
}

h1 + p {
  font-size: 120%;
}

blockquote {
  margin: 0 0 0 2em;
  padding: 0;
  position: relative;
}

blockquote p {
  color: #333;
  font-size: 95%;
}

blockquote:before {
  content: '“';
  position: absolute;
  left: -.5em;
}

.editor-wrap {
  margin: 1rem 0;
  position: relative;
}

.example-output {
  border-left: 3px solid #99e;
  padding: 4px 0 4px 17px;
  margin-left: -5px;
  white-space: pre;
}

.example-output:empty {
  display: none;
}

.run-button, .close-button {
  position: absolute;
  width: 15px;
  left: -18px;
  cursor: pointer;
  color: #ddd;
  line-height: 1;
}

.run-button {
  top: 0;
  font-size: 60%;
}

.close-button {
  top: 15px;
  font-size: 80%;
  font-weight: bold;
}

.run-error {
  color: red;
}

/* Toned-down CodeMirror style */

.cm-s-default .cm-keyword {color: #506;}
.cm-s-default .cm-atom {color: #106;}
.cm-s-default .cm-number {color: #042;}
.cm-s-default .cm-def {color: #009;}
.cm-s-default .cm-variable-2 {color: #027;}
.cm-s-default .cm-variable-3 {color: #072;}
.cm-s-default .cm-comment {color: #630;}
.cm-s-default .cm-string {color: #700;}
.cm-s-default .cm-string-2 {color: #740;}
.cm-s-default .cm-tag {color: #170;}

.CodeMirror {
  height: auto;
  border-left: 3px solid #ddd;
  margin-left: -5px;
  line-height: 1.3;
}
.CodeMirror-scroll {
  max-height: 500px;
}
.CodeMirror pre {
  padding: 0 4px 0 17px;
}

div.image img {
  max-width: 28em;
  margin-left: 1em;
}